<!DOCTYPE html><html><head><title>Fortunes</title></head><body><div><h1>Foo</h1><h2>{{ head }}</h2><input id="foo" type="text"><br/><button onclick="Msg::Add">Add</button><button onclick="Msg::Clear">Clear</button><button onclick="Msg::Add10">Add10</button><button onclick="Msg::Add20">Add20</button></div><table><thead><tr><th>id</th><th>message</th></tr></thead><tbody>
    {{~# each fortunes ~}}
        <tr><td class="col-id">{{id}}</td><td class="col-msg">{{message}}</td><td class="another"><a class="button" onclick="{{? Msg::Delete(id) }}">Delete</a></td></tr>
    {{~/each ~}}
    </tbody></table></body></html>

