<article id="text__code">
    <header><h1>Code</h1></header>
    <div>
        <p><strong>Keyboard input:</strong> <kbd>Cmd</kbd></p>
        <p><strong>Inline code:</strong> {{# if flag }}<code>&lt;div&gt;code&lt;/div&gt;</code>{{/if }} </p>
        <p><strong>Sample output:</strong> <samp>This is sample output from a computer program.</samp></p>
        <h2>Pre-formatted text</h2>
    </div>
    <footer><p><a href="#top">[Top]</a></p></footer>
</article>
