<!DOCTYPE html>
<html>
<head>
    <title>Fortunes</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>message</th>
    </tr>
    </thead>
    <tbody>
    {{# each fortunes }}
        <tr>
            <td>{{id}}</td>
            <td>{{message}}</td>
        </tr>
    {{/each }}
    </tbody>
</table>
</body>
</html>

