[package]
name = "benches"
version = "0.0.1"
publish = false
edition = "2018"

[workspace]
members = ["."]

[dependencies]
yarte = { path = "../yarte", version = "*" }
itoa = "0.4"

[build-dependencies]
yarte = { path = "../yarte", version = "*" }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "yarte"
harness = false
path = "src/all.rs"
